Base16 {{scheme-name}}
Scheme: {{scheme-author}}

[BLACK_R:{{base00-rgb-r}}]
[BLACK_G:{{base00-rgb-g}}]
[BLACK_B:{{base00-rgb-g}}]
[BLUE_R:{{base0D-rgb-r}}]
[BLUE_G:{{base0D-rgb-g}}]
[BLUE_B:{{base0D-rgb-b}}]
[GREEN_R:{{base0B-rgb-r}}]
[GREEN_G:{{base0B-rgb-g}}]
[GREEN_B:{{base0B-rgb-b}}]
[CYAN_R:{{base0C-rgb-r}}]
[CYAN_G:{{base0C-rgb-g}}]
[CYAN_B:{{base0C-rgb-b}}]
[RED_R:{{base08-rgb-r}}]
[RED_G:{{base08-rgb-g}}]
[RED_B:{{base08-rgb-b}}]
[MAGENTA_R:{{base0E-rgb-r}}]
[MAGENTA_G:{{base0E-rgb-g}}]
[MAGENTA_B:{{base0E-rgb-b}}]
[BROWN_R:{{base0F-rgb-r}}]
[BROWN_G:{{base0F-rgb-g}}]
[BROWN_B:{{base0F-rgb-b}}]
[LGRAY_R:{{base05-rgb-r}}]
[LGRAY_G:{{base05-rgb-g}}]
[LGRAY_B:{{base05-rgb-b}}]
[DGRAY_R:{{base03-rgb-r}}]
[DGRAY_G:{{base03-rgb-g}}]
[DGRAY_B:{{base03-rgb-b}}]
[LBLUE_R:{{base0D-rgb-r}}]
[LBLUE_G:{{base0D-rgb-g}}]
[LBLUE_B:{{base0D-rgb-b}}]
[LGREEN_R:{{base0B-rgb-r}}]
[LGREEN_G:{{base0B-rgb-g}}]
[LGREEN_B:{{base0B-rgb-b}}]
[LCYAN_R:{{base0C-rgb-r}}]
[LCYAN_G:{{base0C-rgb-g}}]
[LCYAN_B:{{base0C-rgb-b}}]
[LRED_R:{{base08-rgb-r}}]
[LRED_G:{{base08-rgb-g}}]
[LRED_B:{{base08-rgb-b}}]
[LMAGENTA_R:{{base0E-rgb-r}}]
[LMAGENTA_G:{{base0E-rgb-g}}]
[LMAGENTA_B:{{base0E-rgb-b}}]
[YELLOW_R:{{base0A-rgb-r}}]
[YELLOW_G:{{base0A-rgb-g}}]
[YELLOW_B:{{base0A-rgb-b}}]
[WHITE_R:{{base07-rgb-r}}]
[WHITE_G:{{base07-rgb-g}}]
[WHITE_B:{{base07-rgb-b}}]
